body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #5594a2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1, h2 {
    margin: 10px 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    margin-bottom: 30px;

}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    
    bottom: 0;
    width: 100%;
}

footer nav ul {
    list-style: none;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer nav ul li a:hover {
    text-decoration: underline;
}


.hover-animate {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
    text-decoration: none;
    color: #5594a2;
}

.hover-animate:hover {
    transform: translateX(5px); /* Κίνηση κατά 5px προς τα δεξιά */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-icon {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    
}

.social-icon:hover {
    transform: scale(1.2);
    opacity: 0.8;
}